@tailwind base;
@tailwind components;
@tailwind utilities;

/* style modification for web3 onboard modal UI */
:root {
  /* Light Mode */
  --w3o-background-color: #FFFFFF !important;
  --w3o-foreground-color: #F8F8F9 !important;
  --w3o-text-color: #121215 !important;
  --w3o-border-color: #DEDFE1 !important;
  --w3o-action-color: #C631C6 !important;
  --w3o-border-radius: 24px !important;
  --w3o-font-family: unset !important;
  --onboard-modal-backdrop: transparent !important;
  --modal-backdrop: transparent !important;

  /* Wallet connect modal z-index */
  --wcm-z-index: 99999 !important;
}

[theme="dark"] {
  /* Dark Mode */
  --w3o-background-color: #121215 !important;
  --w3o-foreground-color: #25262B !important;
  --w3o-text-color: #DEDFE1 !important;
  --w3o-border-color: #25262B !important;
  --w3o-action-color: #C631C6 !important;
  --w3o-border-radius: 24px !important;
  --w3o-font-family: unset !important;
  --onboard-modal-backdrop: transparent !important;
  --modal-backdrop: transparent !important;
}

/**
 * Custom CSS
 */
 @font-face {
  font-family: 'FK Grotesk Neu';
  src: url('./assets/fonts/FKGroteskNeue-Regular.woff2') format('woff2'),
    url('./assets/fonts/FKGroteskNeue-Regular.woff') format('woff');
  font-weight: 100 400;
  font-style: normal;
}


@font-face {
  font-family: 'FK Grotesk Neu';
  src: url('./assets/fonts/FKGroteskNeue-Medium.woff2') format('woff2'),
    url('./assets/fonts/FKGroteskNeu-Medium.woff') format('woff');

  font-weight: 500 600;
  font-style: normal;

}

@font-face {
  font-family: 'FK Grotesk Neu';
  src: url('./assets/fonts/FKGroteskNeue-Bold.woff2') format('woff2'),
    url('./assets/fonts/FKGroteskNeue-Bold.woff') format('woff');
  font-weight: 700 800;
  font-style: normal;
  font-display: swap;
}
